div.search
  label(for="search") I want to find or list a book.
  input#search(type="text", ng-model="searchInput" placeholder="ISBN or other text: {{ message }}")
  //using ng-model searchInput is most-def not the best way to do this.
  a(ui-sref="home.searchResults({query: searchInput})") Search
  div#search-results(ui-view)