p You searched for "{{ query }}," and, well, it doesn't look good. This is all we have: 
ul
	li(ng-repeat="book in results")
		h4 {{ book.name }}
		img(src="{{book.coverImage}}")
		a(ui-sref="main.detail.book({isbn: book.ISBN})") View Details

p Can't find what you're looking for? 
	a(href="#") Send us an email.