h2 Register

div.register
  h3 Register
  iframe(src="/sink" name="sink" style="display:none")
  form(class='form-register' name="registerForm" ng-submit="register(registerData)")
    table.info-table
      tbody
        tr
          td Email
          td
            input(ng-model="registerData.username" type='text' placeholder='name@carleton.edu' autofill="email" required autofocus)
        tr
          td First Name
          td
            input(ng-model="registerData.givenName" type='text' maxlength=35 placeholder='Friedrich' autofill="given-name" required)
        tr
          td Last Name
          td
            input(ng-model="registerData.familyName", placeholder='Schiller' type='text' maxlength=35 autofill="family-name" required)
        tr
          td Password
          td
            input(ng-change='validatePw()' ng-model="registerData.password" type='password' required)
        tr
          td Retype Password
            td
              input(
                id="pw-repeat",
                type="password",
                ng-change="validatePw()",
                required,
                ng-model="regPwRepeat")
        tr
          td Graduation Year
          td
            select(ng-model="registerData.gradYear" required)
              option(value='' disabled selected) —
              option(ng-repeat="year in gradYears", value="{{year}}") {{year}}
        tfoot
          tr.alert(ng-if='registerAlert == RegisterAlert.INVALID_INFO')
            td(colspan=2, ng-bind='registrationError')
          tr.alert(ng-if='registerAlert == RegisterAlert.SERVER_ERROR')
            td(colspan=2) Internal Server Error.
                a(href='#' ng-click='modalStates.contact = true') Report Error
          tr.alert(ng-if='registerAlert == RegisterAlert.SUCCESS')
            td(colspan=2) Registration Successful! Please check your email to proceed.
          tr
            td(colspan=2)
              button.confirm(type='submit') Register
