h2 Login or Register
	h3 Sign In
	form(class='account-entry' name="loginForm" ng-submit="login(loginData)")
		input(ng-model="loginData.username" type='text' placeholder='Email' required autofocus)
		input(ng-model='loginData.password' type='password' placeholder='Password' required)
		button(type='submit') Sign In

	h3 Register
	form(class='form-register' name="registerForm" ng-submit="register(registerData)")
		input(ng-model="registerData.username" type='text' placeholder='Email' autofill="email" required autofocus)
		input(ng-model="registerData.givenName" type='text' placeholder='First Name' autofill="given-name" required)
		input(ng-model="registerData.familyName" type='text' placeholder='Last Name' autofill="family-name" required)
		input(ng-model="registerData.password" type='password' placeholder='Password' required)
		button(type='submit') Register

	//- p 
	//- | You can also sign in with Google or Facebook.
	//- | Just make sure to use an account with a verified @carleton.edu address.

	//- form(action='oauth/facebook' method='get')
	//- 	button(class = 'button-alt' type='submit') Facebook

	//- form(action='oauth/google' method='get')
	//- 	button(class = 'button-alt' type='submit') Google