h2 Sign In

div.login
  //- Necessary for browser autofill
  iframe(src="/sink" name="sink" style="display:none")

  form(class='account-entry' name="loginForm" ng-submit="login(loginData)" action="/sink" target="sink" method="post" formAutofillFix)
    table.info-table
      tbody
        tr
          td Email
          td
            input(ng-model="loginData.username" type='text' placeholder='Email' required autofocus)
        tr
          td Password
          td
            input(ng-model='loginData.password' type='password' placeholder='Password' required)
      tfoot
        tr.alert(ng-if='signinAlert == SignInAlert.INCORRECT_INFO')
          td(colspan=2) Incorrect Email or Password.
            a(href='#' ng-click='requestPasswordReset()') Forgot Password?

        tr.alert(ng-if='signinAlert == SignInAlert.UNVERIFIED')
          td(colspan=2) Account not verified.
            a(href='#' ng-click='resendVerification()') Resend Verification Link?

        tr.alert(ng-if='signinAlert == SignInAlert.SERVER_ERROR')
          td(colspan=2) Internal Server Error.
            a(href='#' ng-click='modalStates.contact = true') Report Error

        tr.alert(ng-if='signinAlert == SignInAlert.RESEND_RESET_ALERT')
          td(colspan=2, ng-bind='resendResetAlert')

        tr
          td(colspan=2)
            button.confirm(type='submit') Sign In
