h2 Account Details
h3 {{currentUser.name.fullName}}
h4 {{currentUser.bio}}

h2 My Watchlist:
ul
	li(ng-repeat="book in watchlist") 
		h4 {{book.name}}
		p {{book.author}}
button(ng-click='logout()') Log Out