div#detail
	a.detail-nav(ng-if="historyStack.length > 1", id="detail-nav-back" ng-click="goBack()") &lt; Back
	| 
	a.detail-nav(ng-if="futureStack.length > 0", id="detail-nav-forward" ng-click="goForward()") Forward &gt;
	ui-view