div#book-details
  h2#book-title {{book.name}}
  h3#book-author {{ book.author.toString().replace(',',', ') }}
  div.info-wrapper
    div.preview
      img(src="{{book.coverImage}}")
    div.info
      table.info-table
        tbody
          tr
            td Edition:
            td(ng-if="book.edition") {{ book.edition }}
              sup {{ book.edition | ordinal }}
            td(ng-if="!book.edition") N/A
          tr
            td Publisher:
            td {{book.publisher}}
          tr
            td Published:
            td {{ book.publishDate | date:"yyyy" }}
          tr
            td ISBN:
            td {{ book.ISBN }}
          tr
            td Pages:
            td {{ book.pageCount }}
        tfoot
          tr: td(colspan="2")
            button(ng-click="addToWatchlist()") + Add To Watchlist

  p {{book.description}}

  h5
    | Selling
    span.interject  or
    |  Giving
  div.listing#selling
    table
      thead
        tr
          th(colspan="2") Seller
          th Condition
          th Price
          th Buy/Get
      tbody
        //- TODO: change hrefs to ui-srefs
        //- The '!!' requires that the property is defined on the object.
        tr(ng-repeat="listing in book.listings | filter:{sellingPrice:'!!'}")
          td.image: a(href="user/{{listing.userID}}")
            img(src="{{listing.user.avatar.small}}")
          td.username: a(href="user/{{listing.userID}}") {{listing.user.name.fullName}}
          td {{listing.condition}}
          td {{listing.sellingPrice | currency }}
          td.make-an-offer: button(data-listingId="{{listing.ID}}"): img(src="/images/email.png")
      tfoot
        tr: td(colspan="5")
          button + Add a Listing

  h5
    | Renting
    span.interject  or
    |  Lending
  div.listing#renting
    table
      thead
        tr
          th(colspan="2") Renter
          th Condition
          th Price
          th Buy/Get
      tbody
        //- TODO: change hrefs to ui-srefs
        tr(ng-repeat="listing in book.listings | filter:{rentingPrice:'!!'}")
          td.image: a(href="user/{{listing.userID}}")
            img(src="{{listing.user.avatar.small}}")
          td.username: a(href="user/{{listing.userID}}") {{listing.user.name.fullName}}
          td {{listing.condition}}
          td {{listing.rentingPrice | currency }}
          td.make-an-offer: button(data-listingId="{{listing.ID}}"): img(src="/images/email.png")
      tfoot
        tr: td(colspan="5")
          button + Add a Listing