td.image: a(href="user/{{listing.userID}}")
	img(src="{{listing.user.avatar}}")
td.username: a(href="user/{{listing.userID}}") {{listing.user.name.fullName}}
td {{conditionKey[listing.condition]}}
td
	p(ng-if="whichListings !== 'selling' && listing.rentingPrice !== null").
		{{listing.rentingPrice | currency }}/term {{whichListings=='renting'?undefined:'to rent'}}
	p(ng-if="whichListings !== 'renting' && listing.sellingPrice !== null").
		{{listing.sellingPrice | currency }} {{whichListings=='selling'?undefined:'to buy'}}
td.make-an-offer
	button.confirm(ng-if="listing.userID !== currentUser.userID", ng-click="makeOfferInit(listing)")
		img(src="/images/email.png")
	//- TODO: something about emailing state
	//- div.complete(ng-if="currentUser.listing.listingID ") already emailed
	button.edit(ng-if="listing.userID == currentUser.userID" ng-click="openListingPane()") &#9998;
	button.delete(ng-if="listing.userID == currentUser.userID", ng-click="beginRemovingListing()") del
	div.remove-listing(ng-if="listing.userID == currentUser.userID", ng-class="{'visible': removingListing}")
		| Did it sell?
		button.confirm(ng-click="removeListing(listing, true)") yes
		button.no(ng-click="removeListing(listing, false)") no
		button.cancel(ng-click="cancelRemovingListing()") cancel
