ul
	li(ng-repeat="book in results")
		a.book(ui-sref="main.detail.book({isbn: book.ISBN})")
			div.preview
				img(src="{{book.coverImage}}")
			div.info
				h4 {{ book.name }}
				//- the toString.replace thing is to correctly format multiple authors
				h5 {{ book.author.join(', ') }}
				table.info-table
					tr
						td Edition:
						td(ng-if="book.edition") {{ book.edition }}
							sup {{ book.edition | ordinal }}
						td(ng-if="!book.edition") N/A
					tr
						td Published:
						td {{ book.publishDate | date:"yyyy" }}
					tr
						td ISBN:
						td {{ book.ISBN }}

p Can't find what you're looking for? 
	a(href="#") Send us an email.