div.tabs
	button(ng-click="$parent.displayedSearch = 'books'", 
		ng-class="{'active': $parent.displayedSearch == 'books'}") Books
		span.stat(ng-class="{'good': !!bookResults.length}") {{bookResults.length}}
	button(ng-click="$parent.displayedSearch = 'users'",
		ng-class="{'active': $parent.displayedSearch == 'users'}") Members
		span.stat(ng-class="{'good': !!userResults.length}") {{userResults.length}}

ul(ng-if="$parent.displayedSearch == 'books'")
	li(ng-repeat="book in bookResults")
		a.book(ui-sref="main.detail.book({isbn: book.ISBN})")
			div.preview
				img(src="{{book.coverImage}}")
			div.info
				h4 {{ book.name }}
				//- the toString.replace thing is to correctly format multiple authors
				h5 {{ book.author.join(', ') }}
				table.info-table
					tr
						td Edition:
						td(ng-if="book.edition") {{ book.edition }}
							sup {{ book.edition | ordinal }}
						td(ng-if="!book.edition") N/A
					tr
						td Published:
						td {{ book.publishDate | date:"yyyy" }}
					tr
						td ISBN:
						td {{ book.ISBN }}
				div.listing-stats
					p Student Listings:
						span.stat(ng-class="{'good': !!book.listings.length}")
							| {{ book.listings.length }}
					p Amazon:
						span.stat.good ✔

ul(ng-if="$parent.displayedSearch == 'users'")
	li(ng-repeat="user in userResults")
		a.user(ui-sref="main.detail.user({userID: user.userID})")
			div.preview
				img(src="{{user.avatar}}")
			div.info
				h4 {{ user.name.fullName }}
				//- the toString.replace thing is to correctly format multiple authors
				h5 {{ user.gradYear }}
				table.info-table
					tr
						td Member since:
						td {{ user.created | date:'MMMM, yyyy' }}

p Can't find what you're looking for? 
	a(href="#" ng-click='modalStates.contact = true') Send us an email.
