header(ng-class="\
  {\
    'minimized'    : !is('main'),\
    'home-view'    : is('main')\
  }")
  div#main-box
    a#wordmark-link(ui-sref="main")
      //-  ui-sref-opts="{reload: true}" to forget prev search
      h1#wordmark
        span.college-name Carleton
        span.app-name
          | Hits
          span.interject  the 
          | Books
    ul#college-info
      li #{numListings} books available
      li #{numOffers} successful listings
      li #{numUsers} active users
  div#blurb
    | Welcome to the streamlined platform for buying, selling, and trading textbooks face-to-face.
    | By Carls for Carls. 
    a(href="#aboute") Learn more...
  div#sub-box
    a(href="#about") About
    a(href="#register") Sign in or Register
  div#about
    h2 About
    p
      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
      | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
      | It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  div#register
    h2 Register or Sign in 