doctype html
html(ng-app="hitsTheBooks")
  head
    title Carleton Hits the Books
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js")
    script(src="https://rawgit.com/christopherthielen/ui-router-extras/master/release/ct-ui-router-extras.js")
    script(src="/scripts/main.js")
    link(rel="stylesheet" type="text/css" href="/styles/index.css")
    base(href="/app/")
  body
    include header
    main(ui-view)
