@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,400italic,700,700italic);
::-moz-focus-inner {
  border: 0; }

html {
  overflow-y: scroll; }

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Droid Serif', serif; }

a, input {
  outline: none; }

.interject {
  font-size: smaller;
  font-style: italic;
  font-variant: normal;
  font-weight: 400; }

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(http://www.radionorthland.org/wp-content/uploads/2012/01/Library-Books.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: -1; }

table.info-table {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
  border: solid 2px #ddd;
  border-radius: 10px;
  border-spacing: 0; }
  table.info-table td {
    padding: 5px;
    border-bottom: solid 2px #ddd;
    border-right: solid 1px #eee; }
  table.info-table tr:last-child td {
    border-bottom: solid 0px; }
  table.info-table tr td:first-child {
    text-align: right; }
  table.info-table tr td:last-child {
    border-right: solid 0px;
    text-align: left; }
  table.info-table tfoot td {
    border-top: solid 2px #ddd; }

button.confirm:hover, button.confirm:hover:focus {
  box-shadow: inset 0px 0px 25px 0px rgba(130, 255, 130, 0.4); }

button.confirm:active, button.confirm:active:focus {
  background-color: rgba(130, 255, 130, 0.08); }

button.cancel:hover, button.cancel:hover:focus {
  box-shadow: inset 0px 0px 25px 0px rgba(255, 130, 130, 0.4); }

button.cancel:active, button.cancel:active:focus {
  background-color: rgba(255, 130, 130, 0.08); }

button {
  outline: none;
  background: none;
  border: none;
  transition: box-shadow 0.1s;
  font-family: "Droid Serif", Serif;
  font-style: italic; }

table button:focus {
  box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.4); }

label, .label {
  font-family: 'Droid Serif';
  font-style: italic; }

input, select {
  border: none;
  background: none;
  outline: none; }

select {
  border-bottom: solid 2px black; }

input[type="checkbox"] {
  visibility: hidden;
  position: relative;
  margin: 0 10px; }

input[type="checkbox"]::before {
  content: "";
  border: solid black 2px;
  visibility: visible;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  position: relative;
  top: -2px; }

input[type="checkbox"]::after {
  visibility: visible;
  content: "✓";
  position: absolute;
  top: -13px;
  font-size: 32px;
  color: transparent; }

input[type="checkbox"]:checked::after {
  color: black; }

input[type="checkbox"]:hover::before {
  box-shadow: inset 0 0 4px 0 gray; }

input[type="checkbox"]:hover::after {
  color: rgba(0, 0, 0, 0.1); }

input[type="checkbox"]:hover:checked::after {
  color: rgba(0, 0, 0, 0.7); }

input[type="checkbox"]:disabled::before {
  border-color: black;
  opacity: 0.3; }

input[type="checkbox"]:disabled:hover::before {
  box-shadow: none; }

input[type="checkbox"]:disabled::after,
input[type="checkbox"]:disabled:hover::after {
  color: black;
  opacity: 0.3; }

input[type="text"], input[type="password"], input[type="number"] {
  text-align: center;
  vertical-align: top;
  font-family: 'Droid Serif', Serif;
  border-bottom: solid 2px black; }

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled {
  border-bottom: solid 2px rgba(0, 0, 0, 0.3); }

header {
  transition: height 0.2s;
  padding-bottom: 15px;
  overflow: hidden; }
  header #sub-box, header #blurb {
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2); }
  header #sub-box {
    background-color: rgba(255, 255, 255, 0.34);
    position: absolute;
    padding: 14px 6px;
    top: 25px;
    left: calc(50vw + 260px); }
    header #sub-box a {
      color: black;
      text-decoration: none;
      margin: 10px;
      position: relative;
      font-size: 12px;
      z-index: 1; }
    header #sub-box a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: -2px;
      left: 0;
      border-bottom: solid rgba(41, 255, 53, 0.25) 3px;
      z-index: -1;
      transition: border 0.2s, padding 0.2s, left 0.2s; }
    header #sub-box a:hover::before {
      border-bottom: solid rgba(41, 255, 53, 0.25) 20px;
      padding: 6px;
      left: -6px; }
  header #main-box {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    margin: 25px auto 0 auto;
    background-color: white; }
    header #main-box #wordmark-link {
      text-decoration: none;
      color: black;
      outline: 0; }
      header #main-box #wordmark-link #wordmark {
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
        margin: 0; }
        header #main-box #wordmark-link #wordmark .college-name {
          font-size: 80px;
          font-variant: small-caps;
          display: block; }
        header #main-box #wordmark-link #wordmark .app-name {
          font-weight: 400;
          font-size: 35px;
          position: relative;
          font-variant: small-caps;
          display: block; }
        header #main-box #wordmark-link #wordmark .interject {
          font-size: 28px; }
        header #main-box #wordmark-link #wordmark .app-name::before {
          content: '';
          width: 35%;
          margin: 0 32.5%;
          left: 0;
          height: 1px;
          top: -5px;
          background-color: black;
          border-radius: 10px;
          position: absolute;
          transition: width 0.2s, height 0.2s, margin 0.2s, top 0.2s; }
      header #main-box #wordmark-link #wordmark:hover .app-name::before {
        width: 50%;
        height: 3px;
        top: -6px;
        margin: 0 25%; }
    header #main-box #college-info {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0; }
      header #main-box #college-info li {
        font-size: 12px;
        color: gray;
        flex-grow: 1;
        padding: 10px 0;
        text-align: center; }
  header #blurb {
    width: 480px;
    height: 65px;
    margin: 15px auto 0 auto;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14.5px;
    color: #555;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    opacity: 1;
    position: relative;
    line-height: 130%;
    transition: width 0.2s, height 0.2s, padding 0.2s, opacity 0.2s, margin 0.2s; }
    header #blurb a.toAbout {
      color: #888;
      margin-left: 5px; }
    header #blurb a.toAbout:hover {
      color: #555; }
    header #blurb a.close {
      position: absolute;
      line-height: 110%;
      top: 0;
      right: 0;
      font-size: 22px;
      color: #AEAEAE;
      text-align: center;
      width: 20px;
      height: 20px;
      font-family: "Times New Roman", Serif; }
    header #blurb a.close:hover {
      cursor: pointer;
      color: gray; }
  header #blurb.hidden {
    width: 0px;
    height: 0px;
    padding: 0px;
    margin-bottom: -7.5px;
    margin-top: 7.5px;
    opacity: 0; }

header.minimized {
  margin-bottom: 0;
  height: 100px;
  overflow: hidden; }

main #search {
  overflow: hidden;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  transition: width 0.3s; }
  main #search #search-form {
    margin: 30px;
    transition: margin 0.2s; }
    main #search #search-form #search-labels {
      display: inline-block;
      position: relative;
      text-align: right; }
      main #search #search-form #search-labels label {
        font-size: 18px;
        display: inline-block;
        font-style: normal;
        transition: opacity 0.2s, width 0.2s; }
      main #search #search-form #search-labels label.pre-search {
        opacity: 1;
        width: 250px;
        overflow: hidden;
        white-space: nowrap; }
      main #search #search-form #search-labels label.post-search {
        opacity: 0;
        position: absolute;
        right: 0; }
    main #search #search-form #search-box {
      text-align: center;
      vertical-align: top;
      font-size: 18px;
      width: 70px;
      min-width: 70px;
      max-width: 300px;
      margin: 0 20px;
      text-overflow: ellipsis;
      transition: width 0.2s; }
  main #search #search-results {
    overflow: hidden;
    transition: height 0.2s; }
  main #search #search-results.minimized {
    height: 0; }
  main #search #search-results ul {
    list-style-type: none;
    padding: 0; }
    main #search #search-results ul li {
      box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.15);
      width: 490px;
      margin: 0 auto 30px auto;
      transition: box-shadow 0.1s; }
      main #search #search-results ul li div.preview {
        padding: 20px; }
        main #search #search-results ul li div.preview img {
          width: 125px; }
      main #search #search-results ul li div.info {
        flex-grow: 1;
        padding-right: 20px;
        padding-bottom: 20px; }
      main #search #search-results ul li a.book {
        text-decoration: none;
        color: black;
        text-align: left;
        display: flex; }
      main #search #search-results ul li h4 {
        font-family: 'Droid Sans', serif;
        margin-bottom: 0;
        font-weight: bold;
        color: black; }
      main #search #search-results ul li h5 {
        font-family: 'Droid Sans', serif;
        font-weight: 400;
        margin-top: 0; }
    main #search #search-results ul li:hover {
      box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3); }

main #search.home-view {
  width: 500px; }

main #search.searching, main #search.behind-detail {
  width: 530px; }
  main #search.searching #search-form #search-labels label.pre-search, main #search.behind-detail #search-form #search-labels label.pre-search {
    opacity: 0;
    width: 100px; }
  main #search.searching #search-form #search-labels label.post-search, main #search.behind-detail #search-form #search-labels label.post-search {
    opacity: 1; }

main #search.behind-detail #search-form {
  margin: 15px; }

main #detail-wrapper {
  width: 500px;
  margin: -10px auto 40px auto;
  padding-bottom: 20px;
  position: relative;
  z-index: 20;
  overflow: hidden;
  transition: opacity 0.2s; }
  main #detail-wrapper .detail-nav {
    font-size: 24pt;
    position: fixed;
    top: calc(50vh - 32px);
    width: 64px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 64px;
    transition: color 0.2s; }
  main #detail-wrapper .detail-nav:hover {
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3); }
  main #detail-wrapper #detail {
    margin: 10px auto 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: white; }

main #detail-wrapper.minimized {
  opacity: 0;
  height: 0;
  margin-bottom: 0; }
  main #detail-wrapper.minimized #detail {
    box-shadow: 0px 3px 10px 2px transparent; }
  main #detail-wrapper.minimized .detail-nav {
    color: transparent; }

main #detail-wrapper.maximized {
  width: 750px;
  max-width: 100vw;
  opacity: 1;
  height: auto; }
  main #detail-wrapper.maximized #detail {
    width: 570px;
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3); }

#book-details h2, #book-details h3 {
  font-family: 'Droid Sans', Sans-serif; }

#book-details h2 {
  font-weight: 700;
  margin: 0; }

#book-details h3 {
  font-weight: 400;
  margin-top: 10px;
  border-bottom: solid black 2px;
  padding-bottom: 10px; }

#book-details .preview {
  float: right;
  padding: 0 0 20px 20px; }
  #book-details .preview img {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
    width: 200px; }

#book-details .info {
  position: relative;
  overflow: hidden; }
  #book-details .info p {
    line-height: 157%; }
  #book-details .info p:first-letter {
    font-size: 50px;
    display: inline-block;
    float: left;
    line-height: 100%;
    margin-top: 0px;
    margin-right: 10px; }
  #book-details .info .expand {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    color: gray;
    background: linear-gradient(to top, white 0%, white 66%, rgba(255, 255, 255, 0) 100%); }
  #book-details .info .expand:hover {
    color: black; }
  #book-details .info .expand.expanded {
    background: none; }
  #book-details .info .info-table {
    margin-bottom: 20px;
    width: 310px;
    float: left; }
    #book-details .info .info-table tfoot td {
      padding: 0;
      border-top: solid 2px #ddd; }
      #book-details .info .info-table tfoot td div {
        line-height: 30px;
        text-align: center; }
      #book-details .info .info-table tfoot td button, #book-details .info .info-table tfoot td div {
        padding: 5px;
        height: 30px;
        width: 100%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        font-style: italic;
        font-family: 'Droid Serif', Serif; }
      #book-details .info .info-table tfoot td button span.symbol {
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
        line-height: 0;
        position: relative;
        transition: color 0.2s;
        width: 1.5em; }
      #book-details .info .info-table tfoot td button.cancel span.symbol::before {
        font-size: 24px;
        content: '×';
        color: transparent;
        width: 0;
        display: inline-block;
        vertical-align: middle;
        transition: color 0.2s;
        line-height: 0; }
      #book-details .info .info-table tfoot td button.cancel:hover span.symbol {
        color: transparent; }
      #book-details .info .info-table tfoot td button.cancel:hover span::before {
        color: black; }

#book-details h5 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-variant: small-caps; }

#book-details .listings .tabs {
  display: flex; }
  #book-details .listings .tabs button {
    flex-grow: 1;
    background: none;
    font-family: 'Droid Serif', Serif;
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
    font-variant: small-caps;
    transition: color 0.2s, font-size 0.2s;
    color: gray;
    height: 75px;
    font-size: 18px; }
  #book-details .listings .tabs button.active {
    border-bottom: solid black 2px;
    font-style: inherit;
    font-size: 22px;
    color: black; }
  #book-details .listings .tabs button:hover {
    color: black; }

#book-details .listings table {
  width: 100%;
  border-spacing: 0;
  border: solid 1px #ccc;
  border-top: 2px solid black;
  overflow: hidden; }
  #book-details .listings table thead tr {
    height: 4em; }
    #book-details .listings table thead tr th {
      font-weight: 400;
      font-style: italic;
      height: 40px;
      border-bottom: 2px solid #ccc;
      border-right: 1px solid #eee;
      position: relative; }
    #book-details .listings table thead tr th.sortable {
      padding: 0 20px;
      cursor: pointer; }
    #book-details .listings table thead tr th.sortable:hover {
      text-decoration: underline; }
    #book-details .listings table thead tr th.active::before {
      content: '';
      background-color: rgba(252, 255, 100, 0.07);
      width: 100%;
      height: 2000px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; }
    #book-details .listings table thead tr th.active::after {
      content: '▴';
      position: absolute;
      width: 1.5em;
      color: gray;
      font-style: normal; }
    #book-details .listings table thead tr th.active.reversed::after {
      content: '▾'; }
    #book-details .listings table thead tr th:last-child {
      border-right: none; }
  #book-details .listings table tbody, #book-details .listings table tfoot {
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px; }
    #book-details .listings table tbody tr td, #book-details .listings table tfoot tr td {
      text-align: center;
      border-bottom: solid 2px #ccc;
      border-right: solid 1px #eee; }
      #book-details .listings table tbody tr td img, #book-details .listings table tfoot tr td img {
        width: 40px;
        height: 40px;
        vertical-align: middle;
        margin: 5px; }
    #book-details .listings table tbody tr td:last-child, #book-details .listings table tfoot tr td:last-child {
      border-right: none; }
    #book-details .listings table tbody tr td.image, #book-details .listings table tfoot tr td.image {
      text-align: right;
      border-right: none;
      padding-right: 5px; }
    #book-details .listings table tbody tr td.username, #book-details .listings table tfoot tr td.username {
      text-align: left;
      padding-left: 5px; }
    #book-details .listings table tbody td.make-an-offer, #book-details .listings table tbody td.confirm, #book-details .listings table tfoot td.make-an-offer, #book-details .listings table tfoot td.confirm {
      padding: 0; }
      #book-details .listings table tbody td.make-an-offer button, #book-details .listings table tbody td.confirm button, #book-details .listings table tfoot td.make-an-offer button, #book-details .listings table tfoot td.confirm button {
        width: 100%;
        padding: 0;
        height: 100%; }
  #book-details .listings table tbody td {
    height: 80px; }
  #book-details .listings table tfoot {
    background-color: white; }
    #book-details .listings table tfoot tr.make-listing {
      background-color: #FCFFEE; }
      #book-details .listings table tfoot tr.make-listing p {
        text-align: center; }
      #book-details .listings table tfoot tr.make-listing span.label {
        width: 4.5em;
        display: inline-block; }
      #book-details .listings table tfoot tr.make-listing input.price {
        width: 4em; }
    #book-details .listings table tfoot tr.make-listing.inactive {
      display: none; }
    #book-details .listings table tfoot tr.add-listing td {
      text-align: center;
      border-bottom: none;
      padding: 0; }
      #book-details .listings table tfoot tr.add-listing td div {
        line-height: 2.5em; }
      #book-details .listings table tfoot tr.add-listing td button, #book-details .listings table tfoot tr.add-listing td div {
        font-style: italic;
        font-family: 'Droid Serif', Serif;
        width: 100%;
        height: 2.5em; }
        #book-details .listings table tfoot tr.add-listing td button span.symbol, #book-details .listings table tfoot tr.add-listing td div span.symbol {
          font-size: 24px;
          display: inline-block;
          vertical-align: middle; }

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.4);
  display: none; }

.modal-wrapper.visible {
  display: block;
  z-index: 50; }
  .modal-wrapper.visible .modal {
    background-color: white;
    box-sizing: border-box;
    width: 500px;
    margin: 100px calc(50vw - 250px);
    padding: 10px; }
