@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,400italic,700,700italic);
::-moz-focus-inner {
  border: 0; }

html {
  overflow-y: scroll; }

div {
  border-radius: 1px; }

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Droid Serif', serif;
  height: 100%; }

a, input {
  outline: none; }

a, button {
  cursor: pointer; }

.interject {
  font-size: smaller;
  font-style: italic;
  font-variant: normal;
  font-weight: 400; }

body::after, body::before {
  content: "";
  display: block;
  position: fixed;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  z-index: -1;
  transition: opacity .2s; }

body::before {
  background-image: url(/images/landing_bg.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0; }

body::after {
  background-image: url(/images/landing_bg_blur.jpg);
  background-size: cover;
  background-position: center;
  transition: opacity .2s;
  opacity: .7; }

body.main-page::after {
  opacity: 0; }

body.main-page::before {
  opacity: .7; }

table.info-table {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
  border: solid 2px #ddd;
  border-radius: 10px;
  border-spacing: 0; }
  table.info-table td {
    padding: 5px;
    border-bottom: solid 2px #ddd; }
  table.info-table tbody td {
    border-right: solid 1px #eee; }
  table.info-table tbody tr:last-child td {
    border-bottom: solid 0px; }
  table.info-table tbody tr td:first-child {
    text-align: right; }
  table.info-table tbody tr td:last-child {
    border-right: solid 0px;
    text-align: left; }
  table.info-table thead td {
    text-align: center; }
  table.info-table tfoot td {
    border-bottom: none;
    padding: 0;
    border-top: solid 2px #ddd; }
    table.info-table tfoot td div {
      line-height: 30px;
      text-align: center; }
    table.info-table tfoot td button, table.info-table tfoot td div {
      height: 30px;
      width: 100%;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      font-style: italic;
      font-family: 'Droid Serif', Serif; }
    table.info-table tfoot td button span.symbol {
      font-size: 16px;
      display: inline-block;
      vertical-align: middle;
      line-height: 0;
      position: relative;
      transition: color .2s;
      width: 1.5em; }
    table.info-table tfoot td button.cancel span.symbol::before {
      font-size: 20px;
      content: '×';
      color: transparent;
      width: 0;
      display: inline-block;
      vertical-align: middle;
      transition: color .2s;
      line-height: 0; }
    table.info-table tfoot td button.cancel:hover span.symbol {
      color: transparent; }
    table.info-table tfoot td button.cancel:hover span::before {
      color: black; }

button:hover, button:hover:focus {
  box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.2); }

button:active, button:active:focus {
  background-color: rgba(0, 0, 0, 0.08); }

button.none:hover, button.none:hover:focus {
  box-shadow: none; }

button.none:active, button.none:active:focus {
  background-color: none; }

button.confirm:hover, button.confirm:hover:focus {
  box-shadow: inset 0px 0px 25px 0px rgba(130, 255, 130, 0.4); }

button.confirm:active, button.confirm:active:focus {
  background-color: rgba(130, 255, 130, 0.08); }

button.cancel:hover, button.cancel:hover:focus {
  box-shadow: inset 0px 0px 25px 0px rgba(255, 130, 130, 0.4); }

button.cancel:active, button.cancel:active:focus {
  background-color: rgba(255, 130, 130, 0.08); }

button {
  outline: none;
  background: none;
  border: none;
  transition: box-shadow .1s, background-color .1s;
  font-family: "Droid Serif", Serif;
  font-style: italic; }

button span.symbol {
  font-style: normal; }

table button:focus {
  box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.4); }

.tooltip, .tooltip-left {
  position: relative; }

.tooltip:hover::after,
.tooltip.tooltip-active::after,
.tooltip-left:hover::after,
.tooltip-left.tooltip-active::after {
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  bottom: 26px;
  color: #fff;
  content: attr(title);
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px; }

.tooltip:hover::before,
.tooltip.tooltip-active::before,
.tooltip-left:hover::before,
.tooltip-left.tooltip-active::before {
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  position: absolute;
  z-index: 99; }

.tooltip:hover::after,
.tooltip.tooltip-active::after {
  left: 20%; }

.tooltip:hover::before,
.tooltip.tooltip-active::before {
  left: 50%; }

.tooltip-left:hover::after,
.tooltip-left.tooltip-active::after {
  right: 20%; }

.tooltip-left:hover::before,
.tooltip-left.tooltip-active::before {
  right: 50%; }

label, .label {
  font-family: 'Droid Serif';
  font-style: italic; }

input, select {
  border: none;
  background: none;
  outline: none; }

select {
  border-bottom: solid 2px black;
  font-size: 14px;
  font-family: 'Droid Sans', Sans; }

input[type="checkbox"] {
  visibility: hidden;
  position: relative;
  margin: 0 10px; }

@-moz-document url-prefix() {
  input[type="checkbox"] {
    visibility: visible; } }

input[type="checkbox"]::before {
  content: "";
  border: solid black 1px;
  visibility: visible;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  position: relative; }

input[type="checkbox"]::after {
  visibility: visible;
  content: "✓";
  position: absolute;
  top: -12px;
  font-size: 22px;
  left: 3px;
  color: transparent; }

input[type="checkbox"]:checked::after {
  color: black; }

input[type="checkbox"]:hover::before {
  box-shadow: inset 0 0 4px 0 gray; }

input[type="checkbox"]:hover::after {
  color: rgba(0, 0, 0, 0.1); }

input[type="checkbox"]:hover:checked::after {
  color: rgba(0, 0, 0, 0.7); }

input[type="checkbox"]:disabled::before {
  border-color: black;
  opacity: 0.3; }

input[type="checkbox"]:disabled:hover::before {
  box-shadow: none; }

input[type="checkbox"]:disabled::after,
input[type="checkbox"]:disabled:hover::after {
  color: black;
  opacity: 0.3; }

input[type="text"], input[type="password"], input[type="number"] {
  text-align: center;
  vertical-align: top;
  font-family: 'Droid Serif', Serif;
  border-bottom: solid 2px black;
  font-size: 14px; }

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled {
  border-bottom: solid 2px rgba(0, 0, 0, 0.3);
  color: lightgray; }

textarea {
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Droid Serif', Serif;
  outline: none;
  box-shadow: inset transparent 0px 0px 4px 2px;
  transition: box-shadow .2s; }

textarea:hover {
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 0px 4px 2px; }

textarea:focus {
  box-shadow: inset rgba(0, 0, 0, 0.2) 0px 0px 4px 2px; }

header {
  transition: height .2s;
  padding-bottom: 15px;
  overflow: hidden; }
  header #sub-box, header #blurb {
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2); }
  header #sub-box {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    padding: 14px 6px;
    top: 25px;
    left: calc(50vw + 260px); }
    header #sub-box a {
      color: black;
      text-decoration: none;
      margin: 10px;
      position: relative;
      font-size: 12px;
      z-index: 1; }
    header #sub-box a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: -2px;
      left: 0;
      border-bottom: solid rgba(41, 255, 53, 0.25) 3px;
      z-index: -1;
      transition: border .2s, padding .2s, left .2s; }
    header #sub-box a:hover::before {
      border-bottom: solid rgba(41, 255, 53, 0.25) 20px;
      padding: 6px;
      left: -6px; }
  header #main-box {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    margin: 25px auto 0 auto;
    background-color: white; }
    header #main-box #wordmark-link {
      text-decoration: none;
      color: black;
      outline: 0; }
      header #main-box #wordmark-link #wordmark {
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
        margin: 0; }
        header #main-box #wordmark-link #wordmark .college-name {
          font-size: 80px;
          font-variant: small-caps;
          display: block; }
        header #main-box #wordmark-link #wordmark .app-name {
          font-weight: 400;
          font-size: 35px;
          position: relative;
          font-variant: small-caps;
          display: block; }
        header #main-box #wordmark-link #wordmark .interject {
          font-size: 28px; }
        header #main-box #wordmark-link #wordmark .app-name::before {
          content: '';
          width: 35%;
          margin: 0 32.5%;
          left: 0;
          height: 1px;
          top: -5px;
          background-color: black;
          border-radius: 10px;
          position: absolute;
          transition: width .2s, height .2s, margin .2s, top .2s; }
        header #main-box #wordmark-link #wordmark .app-name::after {
          content: '';
          width: 25px;
          background-image: url(/images/logo_small.png);
          height: 17px;
          display: block;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          left: calc(50% - 14.5px);
          top: -12px;
          border-left: solid white 2px;
          border-right: solid white 2px; }
      header #main-box #wordmark-link #wordmark:hover .app-name::before {
        width: 50%;
        height: 2px;
        top: -6px;
        margin: 0 25%; }
    header #main-box #college-info {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0; }
      header #main-box #college-info li {
        font-size: 12px;
        color: gray;
        flex-grow: 1;
        padding: 10px 0;
        text-align: center; }
  @media (max-width: 1000px) {
    header #sub-box {
      right: calc(50vw - 259px);
      left: initial; }
    header #main-box {
      margin-top: 85px; } }
  header #blurb {
    width: 480px;
    height: 65px;
    margin: 15px auto 0 auto;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14.5px;
    color: #555;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    opacity: 1;
    position: relative;
    line-height: 130%;
    transition: width .2s, height .2s, padding .2s, opacity .2s, margin .2s; }
    header #blurb a.toAbout {
      color: #888;
      margin-left: 5px; }
    header #blurb a.toAbout:hover {
      color: #555; }
    header #blurb a.close {
      position: absolute;
      line-height: 110%;
      top: 0;
      right: 0;
      font-size: 22px;
      color: #AEAEAE;
      text-align: center;
      width: 20px;
      height: 20px;
      font-family: "Times New Roman", Serif; }
    header #blurb a.close:hover {
      cursor: pointer;
      color: gray; }
  header #blurb.hidden {
    width: 0px;
    height: 0px;
    padding: 0px;
    margin-bottom: -7.5px;
    margin-top: 7.5px;
    opacity: 0; }

header.minimized {
  margin-bottom: 0;
  height: 100px;
  overflow: hidden; }

@media (max-width: 1000px) {
  header.minimized {
    height: 160px; } }

#account {
  text-align: center;
  padding: 1.5em; }

main #search {
  overflow: hidden;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  transition: width .3s; }
  main #search #search-form {
    margin: 30px;
    transition: margin .2s; }
    main #search #search-form #search-labels {
      display: inline-block;
      position: relative;
      text-align: right; }
      main #search #search-form #search-labels label {
        font-size: 18px;
        display: inline-block;
        font-style: normal;
        transition: opacity .2s, width .2s; }
      main #search #search-form #search-labels label.pre-search {
        opacity: 1;
        width: 250px;
        overflow: hidden;
        white-space: nowrap; }
      main #search #search-form #search-labels label.post-search {
        opacity: 0;
        position: absolute;
        right: 0; }
    main #search #search-form #search-box {
      text-align: center;
      vertical-align: top;
      font-size: 18px;
      width: 70px;
      min-width: 70px;
      max-width: 300px;
      margin: 0 20px;
      text-overflow: ellipsis;
      transition: width .2s; }
  main #search #search-results {
    overflow: hidden;
    transition: height .2s; }
  main #search #search-results.minimized {
    height: 0; }
  main #search #search-results .tabs {
    display: flex;
    margin-bottom: 25px; }
    main #search #search-results .tabs button {
      font-variant: small-caps;
      flex-grow: 1;
      flex-basis: 0;
      padding: 10px;
      font-size: 14pt;
      font-style: normal;
      border-bottom: solid 1px black; }
    main #search #search-results .tabs button.active {
      font-weight: bold;
      border-bottom: solid 3px black; }
    main #search #search-results .tabs .stat {
      margin-left: 20px; }
  main #search #search-results ul {
    list-style-type: none;
    padding: 0; }
    main #search #search-results ul li {
      box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.15);
      width: 490px;
      margin: 0 auto 30px auto;
      transition: box-shadow .1s; }
      main #search #search-results ul li div.preview {
        padding: 20px;
        flex-shrink: 0;
        flex-basis: auto; }
        main #search #search-results ul li div.preview img {
          width: 125px;
          display: block; }
      main #search #search-results ul li div.info {
        flex-grow: 1;
        padding-right: 20px;
        padding-bottom: 20px; }
      main #search #search-results ul li a.book, main #search #search-results ul li a.user {
        text-decoration: none;
        color: black;
        text-align: left;
        display: flex; }
      main #search #search-results ul li h4 {
        font-family: 'Droid Sans', serif;
        margin-bottom: 0;
        font-weight: bold;
        color: black; }
      main #search #search-results ul li h5 {
        font-family: 'Droid Sans', serif;
        font-weight: 400;
        margin-top: 0;
        padding-bottom: 6px;
        border-bottom: 2px solid black; }
      main #search #search-results ul li table {
        width: 100%; }
    main #search #search-results ul li:hover {
      box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3); }

main #search.home-view {
  width: 500px; }

main #search.searching, main #search.behind-detail {
  width: 530px; }
  main #search.searching #search-form #search-labels label.pre-search, main #search.behind-detail #search-form #search-labels label.pre-search {
    opacity: 0;
    width: 100px; }
  main #search.searching #search-form #search-labels label.post-search, main #search.behind-detail #search-form #search-labels label.post-search {
    opacity: 1; }

main #search.behind-detail #search-form {
  margin: 15px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

main .loading {
  display: inline-block;
  opacity: 0;
  width: 0; }

main .loading::before {
  content: '';
  display: block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 0.25rem solid black;
  border-top-color: white;
  border-bottom-color: white;
  border-top-width: .15em;
  border-bottom-width: .15em;
  animation: spin 1s infinite linear;
  transition: opacity .2s; }

main .loading.visible {
  opacity: 1; }

main #detail-wrapper {
  width: 500px;
  margin: -10px auto 40px auto;
  padding-bottom: 20px;
  position: relative;
  z-index: 20;
  overflow: hidden;
  transition: opacity .2s; }
  main #detail-wrapper .detail-nav {
    font-size: 24pt;
    position: fixed;
    top: calc(50vh - 32px);
    width: 64px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 64px;
    transition: color .2s; }
  main #detail-wrapper .detail-nav:hover {
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3); }
  main #detail-wrapper #detail {
    margin: 10px auto 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    position: relative; }

main #detail-wrapper.minimized {
  opacity: 0;
  height: 0;
  margin-bottom: 0; }
  main #detail-wrapper.minimized #detail {
    box-shadow: 0px 3px 10px 2px transparent; }
  main #detail-wrapper.minimized .detail-nav {
    color: transparent; }

main #detail-wrapper.maximized {
  width: 750px;
  max-width: 100vw;
  overflow: visible;
  opacity: 1;
  height: auto; }
  main #detail-wrapper.maximized #detail {
    width: 570px;
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3); }

#flash-message {
  width: 500px;
  height: 3em;
  line-height: 3em;
  color: #047d04;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  opacity: .8;
  background-color: rgba(41, 255, 53, 0.25);
  box-shadow: 0 2px 10px 5px rgba(33, 164, 22, 0.2);
  font-style: italic;
  transition: all 1s linear; }

#flash-message.ng-hide {
  opacity: 0; }

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

.stat {
  display: inline-block;
  font-weight: bold;
  font-style: normal;
  font-family: 'Droid Sans', Sans-serif;
  padding: 5px;
  border-radius: 1em;
  margin: 0 10px;
  min-width: 1em;
  height: 1em;
  color: gray;
  line-height: 1.2em;
  font-size: 11pt;
  border: solid 1px; }

.stat.good {
  color: #45753c; }

.stat.bad {
  color: #901d1d; }

.stat.active {
  box-shadow: 0 0 3px 0; }

#book-details h2, #book-details h3 {
  font-family: 'Droid Sans', Sans-serif; }

#book-details h2 {
  font-weight: 700;
  margin: 0; }

#book-details h3 {
  font-weight: 400;
  margin-top: 10px;
  border-bottom: solid black 2px;
  padding-bottom: 10px; }

#book-details .preview {
  float: right;
  padding: 0 0 20px 20px; }
  #book-details .preview img {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
    width: 200px;
    position: relative;
    left: -2px;
    top: 1px; }

#book-details .info {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 30px; }
  #book-details .info p {
    line-height: 157%;
    margin: 0; }
  #book-details .info p:not(:first-of-type) {
    text-indent: 2em; }
  #book-details .info p:first-of-type:first-letter {
    font-size: 50px;
    display: inline-block;
    float: left;
    line-height: 100%;
    margin-top: 0px;
    margin-right: 10px; }
  #book-details .info p:last-of-type {
    padding-bottom: 20px; }
  #book-details .info .expand {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    color: gray;
    background: linear-gradient(to top, white 0%, white 66%, rgba(255, 255, 255, 0) 100%); }
  #book-details .info .expand:hover {
    color: black; }
  #book-details .info .expand.expanded {
    background: none; }
  #book-details .info .info-table {
    margin-bottom: 20px;
    width: 310px;
    float: left; }

#book-details h5 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-variant: small-caps; }

div.listings .tabs {
  display: flex; }
  div.listings .tabs button {
    flex-grow: 1;
    flex-basis: 0;
    background: none;
    font-family: 'Droid Serif', Serif;
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
    font-style: normal;
    font-variant: small-caps;
    transition: color .2s, font-size .2s;
    color: gray;
    height: 75px;
    font-size: 18px; }
  div.listings .tabs button.active {
    border-bottom: solid black 2px;
    font-size: 22px;
    color: black; }
  div.listings .tabs button:hover {
    color: black; }

div.listings table.listings {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border: solid 1px #ccc;
  border-top: 2px solid black;
  overflow: hidden; }
  div.listings table.listings thead tr {
    background-color: #fffcf5;
    height: 4em; }
    div.listings table.listings thead tr th {
      font-weight: 400;
      font-style: italic;
      height: 40px;
      border-bottom: 2px solid #ccc;
      border-right: 1px solid #eee;
      position: relative; }
    div.listings table.listings thead tr th.seller {
      width: 6em; }
    div.listings table.listings thead tr th.price {
      width: 7.5em; }
    div.listings table.listings thead tr th.contact {
      width: 80px; }
    div.listings table.listings thead tr th.sortable {
      padding: 0 20px;
      cursor: pointer; }
    div.listings table.listings thead tr th.sortable:hover {
      text-decoration: underline; }
    div.listings table.listings thead tr th.active::before {
      content: '';
      background-color: rgba(252, 255, 100, 0.07);
      width: 100%;
      height: 2000px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; }
    div.listings table.listings thead tr th.active::after {
      content: '▴';
      position: absolute;
      width: 1.5em;
      color: gray;
      font-style: normal; }
    div.listings table.listings thead tr th.active.reversed::after {
      content: '▾'; }
    div.listings table.listings thead tr th:last-child {
      border-right: none; }
  div.listings table.listings tbody:last-child tr:last-child td {
    border-bottom: none; }
  div.listings table.listings tbody, div.listings table.listings tfoot {
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px; }
    div.listings table.listings tbody tr td, div.listings table.listings tfoot tr td {
      text-align: center;
      border-bottom: solid 2px #ccc;
      border-right: solid 1px #eee; }
      div.listings table.listings tbody tr td img, div.listings table.listings tfoot tr td img {
        width: 40px;
        vertical-align: middle;
        margin: 5px; }
    div.listings table.listings tbody tr td:last-child, div.listings table.listings tfoot tr td:last-child {
      border-right: none; }
    div.listings table.listings tbody tr td.image, div.listings table.listings tfoot tr td.image {
      text-align: right;
      border-right: none;
      padding-right: 5px; }
    div.listings table.listings tbody tr td.username, div.listings table.listings tfoot tr td.username {
      text-align: left;
      padding-left: 5px;
      word-break: break-all;
      /* Non standard for webkit */
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto; }
    div.listings table.listings tbody tbody:last-child td, div.listings table.listings tfoot tbody:last-child td {
      border-bottom: 1px #ccc; }
    div.listings table.listings tbody a.dashed, div.listings table.listings tfoot a.dashed {
      border-bottom: black 1px dashed; }
    div.listings table.listings tbody td.make-an-offer button.email,
    div.listings table.listings tbody td.confirm button.confirm, div.listings table.listings tfoot td.make-an-offer button.email,
    div.listings table.listings tfoot td.confirm button.confirm {
      width: 100%;
      padding: 0;
      height: 80px; }
      div.listings table.listings tbody td.make-an-offer button.email .symbol,
      div.listings table.listings tbody td.confirm button.confirm .symbol, div.listings table.listings tfoot td.make-an-offer button.email .symbol,
      div.listings table.listings tfoot td.confirm button.confirm .symbol {
        font-size: 16px; }
    div.listings table.listings tbody td.make-an-offer.complete-wrapper, div.listings table.listings tfoot td.make-an-offer.complete-wrapper {
      background-color: #f7f7f7; }
    div.listings table.listings tbody td.make-an-offer, div.listings table.listings tfoot td.make-an-offer {
      padding: 0; }
      div.listings table.listings tbody td.make-an-offer button.email span.symbol,
      div.listings table.listings tbody td.make-an-offer div.complete span.symbol, div.listings table.listings tfoot td.make-an-offer button.email span.symbol,
      div.listings table.listings tfoot td.make-an-offer div.complete span.symbol {
        font-style: normal;
        font-size: 30px; }
      div.listings table.listings tbody td.make-an-offer button.email p, div.listings table.listings tbody td.make-an-offer div.complete p, div.listings table.listings tfoot td.make-an-offer button.email p, div.listings table.listings tfoot td.make-an-offer div.complete p {
        margin-top: 0; }
      div.listings table.listings tbody td.make-an-offer div.complete p, div.listings table.listings tfoot td.make-an-offer div.complete p {
        font-style: italic; }
      div.listings table.listings tbody td.make-an-offer div.complete, div.listings table.listings tfoot td.make-an-offer div.complete {
        color: gray;
        font-family: 'Droid Serif', Serif; }
      div.listings table.listings tbody td.make-an-offer button.edit, div.listings table.listings tbody td.make-an-offer button.delete, div.listings table.listings tfoot td.make-an-offer button.edit, div.listings table.listings tfoot td.make-an-offer button.delete {
        display: inline-block;
        width: 50%;
        height: 80px;
        padding: 0;
        font-size: 16px; }
      div.listings table.listings tbody td.make-an-offer div.remove-listing p, div.listings table.listings tfoot td.make-an-offer div.remove-listing p {
        width: 100%;
        margin: 5px; }
      div.listings table.listings tbody td.make-an-offer div.remove-listing button, div.listings table.listings tfoot td.make-an-offer div.remove-listing button {
        height: 28px; }
      div.listings table.listings tbody td.make-an-offer div.remove-listing button.cancel, div.listings table.listings tfoot td.make-an-offer div.remove-listing button.cancel {
        width: 100%; }
      div.listings table.listings tbody td.make-an-offer div.remove-listing button.confirm, div.listings table.listings tbody td.make-an-offer div.remove-listing button.no, div.listings table.listings tfoot td.make-an-offer div.remove-listing button.confirm, div.listings table.listings tfoot td.make-an-offer div.remove-listing button.no {
        width: 50%;
        display: inline-block; }
  div.listings table.listings tbody td {
    height: 80px;
    padding: 0; }
  div.listings table.listings tbody table.price-table {
    width: 100%;
    height: 79px;
    border-collapse: collapse;
    table-layout: fixed; }
    div.listings table.listings tbody table.price-table td:first-child {
      font-family: 'Droid Serif', Serif;
      font-style: italic;
      width: 3.5em; }
    div.listings table.listings tbody table.price-table td {
      height: auto;
      border-bottom: none; }
    div.listings table.listings tbody table.price-table tr:first-child {
      border-bottom: 1px solid #eee; }
  div.listings table.listings tfoot {
    background-color: white; }
    div.listings table.listings tfoot tr.make-listing {
      background-color: #fffcf5; }
      div.listings table.listings tfoot tr.make-listing p {
        text-align: center; }
      div.listings table.listings tfoot tr.make-listing span.label {
        width: 4.5em;
        display: inline-block; }
      div.listings table.listings tfoot tr.make-listing input.price {
        width: 2em; }
      div.listings table.listings tfoot tr.make-listing td.condition small.description {
        display: block;
        margin-top: 10px;
        font-family: 'Droid Serif', Serif;
        font-style: italic; }
    div.listings table.listings tfoot tr.make-listing.inactive {
      display: none; }
    div.listings table.listings tfoot tr.add-listing td {
      text-align: center;
      border-bottom: none;
      padding: 0; }
      div.listings table.listings tfoot tr.add-listing td div {
        line-height: 2.5em; }
      div.listings table.listings tfoot tr.add-listing td button, div.listings table.listings tfoot tr.add-listing td div {
        font-style: italic;
        font-family: 'Droid Serif', Serif;
        width: 100%;
        height: 2.5em; }
        div.listings table.listings tfoot tr.add-listing td button span.symbol, div.listings table.listings tfoot tr.add-listing td div span.symbol {
          font-size: 16px;
          display: inline-block;
          vertical-align: middle; }

button#edit-user, form.about button.confirm {
  border: solid #d2d2d2 1px;
  border-top: none;
  border-right: none;
  position: absolute;
  top: 0;
  height: 40px;
  width: 40px;
  padding: 0;
  font-style: normal;
  font-size: 20px; }

button#edit-user {
  right: 0; }

form.about button.confirm {
  right: 40px; }

div#user-image {
  position: relative;
  height: 0%; }
  div#user-image img {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
    display: block;
    padding: 10px;
    width: 100px; }
  div#user-image button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    div#user-image button span {
      position: absolute;
      left: -30px;
      bottom: -30px;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 100px;
      padding: 5px;
      width: 60px;
      height: 60px;
      font-size: 18px;
      font-style: normal;
      text-align: right;
      padding-right: 10px;
      padding-top: 5px;
      box-sizing: border-box;
      transition: padding .2s, width .2s, height .2s, font-size .2s, left .2s, bottom .2s, background-color .2s; }
  div#user-image button:hover span {
    padding-right: 15px;
    padding-top: 10px;
    width: 100px;
    height: 100px;
    font-size: 24px;
    left: -50px;
    bottom: -50px;
    background-color: rgba(255, 255, 255, 0.8); }

div.user-about {
  overflow: visible;
  display: flex;
  margin-bottom: 20px; }
  div.user-about h2, div.user-about h3, div.user-about h4, div.user-about .edit-names {
    font-family: 'Droid Sans', serif; }
  div.user-about h2 {
    margin-top: 0;
    margin-bottom: 5px;
    max-width: 390px; }
  div.user-about h3 {
    margin-top: 5px; }
  div.user-about h3, div.user-about p.stats {
    border-bottom: 2px solid black;
    padding-bottom: 10px; }
  div.user-about h4 {
    margin-bottom: 2px; }
  div.user-about p.bio {
    margin-top: 5px; }
  div.user-about .about {
    flex-grow: 1;
    padding-left: 20px; }

div.user-settings {
  border-top: 1px solid #eee;
  padding-top: 20px;
  overflow: auto; }
  div.user-settings table.email-settings {
    width: calc(50% - 10px);
    float: left; }
  div.user-settings form.password-changing {
    width: calc(50% - 10px);
    float: right; }
    div.user-settings form.password-changing table {
      width: 100%; }

table.watchlist {
  width: 100%; }
  table.watchlist thead {
    font-family: 'Droid Serif', Serif;
    font-size: 20px; }
    table.watchlist thead td {
      text-align: center;
      border-bottom: solid 2px #ddd;
      padding: 10px; }
  table.watchlist tr#watchlist-empty {
    display: block;
    width: 100%; }
    table.watchlist tr#watchlist-empty td {
      display: block;
      width: 100%;
      text-align: center;
      font-family: 'Droid Serif', serif;
      font-size: 10pt;
      padding: 10px; }
  table.watchlist td.cover-image {
    padding: 0;
    line-height: 0; }
    table.watchlist td.cover-image a {
      display: block;
      height: 70px;
      overflow: hidden; }
    table.watchlist td.cover-image img {
      width: 150px;
      object-fit: cover;
      max-height: 70px; }
  table.watchlist td.name {
    width: 500px;
    padding-left: 20px; }
  table.watchlist tbody td button.cancel {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    height: 70px; }
  table.watchlist tbody td:last-child {
    padding: 0; }
  table.watchlist tbody {
    display: block;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto; }

table.password-changing input {
  width: 5em;
  border: none; }

table.password-changing small {
  display: block; }

table.password-changing .alert {
  text-align: center;
  padding: 5px; }

.watchlist-wrapper {
  overflow: auto;
  border-bottom: solid 1px #eee;
  border-top: solid 1px #eee;
  padding: 20px 0;
  margin: 20px 0; }

div.modal.avatar .cropArea {
  overflow: hidden;
  width: 480px;
  height: 480px;
  box-sizing: border-box;
  position: relative;
  border: solid 1px #eee;
  box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
  border-bottom: none; }

div.modal.avatar form .progress {
  line-height: 15px; }

div.modal.avatar .progress {
  display: inline-block;
  width: 100%;
  border: 1px solid #eee; }

div.modal.avatar .progress div {
  width: 0;
  height: 100%;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Droid Sans', Sans-serif;
  font-size: 9pt;
  box-shadow: inset 0px 0px 25px 0px rgba(130, 255, 130, 0.4); }

div.modal.avatar .button-container {
  display: flex; }
  div.modal.avatar .button-container button {
    width: 150px;
    border: solid 1px #eee;
    border-right: none;
    height: 35px; }
  div.modal.avatar .button-container button.cancel {
    border: solid 1px #eee;
    border-left: none; }

div#edit-names input {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
  width: 6.5em;
  font-family: 'Droid Sans', Sans;
  text-align: left; }

form.about input#grad-year {
  width: 5em;
  font-family: 'Droid Sans', Sans;
  text-align: center; }

form.about textarea {
  height: 7em;
  resize: none; }

form.about small {
  font-style: italic; }

#account-links {
  font-size: 10pt;
  float: left;
  margin-bottom: 0; }
  #account-links a.delete {
    color: #b51f1f; }
  #account-links a.logout {
    color: black;
    margin-right: 2em; }

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.4);
  display: none; }

.modal-wrapper.visible {
  display: block;
  z-index: 50; }
  .modal-wrapper.visible .modal {
    background-color: white;
    box-sizing: border-box;
    width: 500px;
    margin: 100px calc(50vw - 250px);
    padding: 10px;
    overflow: auto; }
    .modal-wrapper.visible .modal h2 {
      border-bottom: solid black 2px;
      padding-bottom: 10px; }
  .modal-wrapper.visible .modal.offer textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
    font-family: Monospace; }

#account-wrapper table {
  width: 100%; }

#account-wrapper input, #account-wrapper select {
  border-bottom: none;
  width: 100%; }

#account-wrapper .alert td {
  padding: 10px;
  text-align: center; }

#contact-wrapper button {
  padding: 20px; }
