html {
  background: white; }

body {
  margin: 0 auto;
  margin-top: 5em;
  padding: 1em;
  width: 20em;
  font: 100% Helvetica, sans-serif;
  color: #333;
  background: white;
  text-align: center;
  border-radius: 8px;
  outline: 0;
  border: 5px solid #333; }

form {
  padding: 0.5em;
  color: black; }

input {
  margin: 0.5em;
  color: black;
  font-size: 1em;
  outline: 0;
  border: 2px solid black;
  border-radius: 5px;
  background: none;
  letter-spacing: 1px;
  padding: 0.5em 0.5em; }

button {
  margin-top: 0.5em;
  color: black;
  font-size: 1em;
  outline: 0;
  border: 2px solid black;
  border-radius: 5px;
  background: none;
  letter-spacing: 1px;
  padding: 0.5em 1.5em;
  cursor: pointer; }

.button-alt {
  margin-top: 0;
  color: white;
  background: black; }

.flash-alerts {
  color: green; }

.flash-errors {
  color: red; }
