button:hover, button:hover:focus{
  box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0,.2);
}

button:active, button:active:focus{
  background-color: rgba(0, 0, 0,.08);
}

button.none:hover, button.none:hover:focus{
  box-shadow: none;
}

button.none:active, button.none:active:focus{
  background-color: none;
}

button.confirm:hover, button.confirm:hover:focus{
  box-shadow: inset 0px 0px 25px 0px rgba(130, 255, 130,.4);
}

button.confirm:active, button.confirm:active:focus{
  background-color: rgba(130, 255, 130,.08);
}

button.cancel:hover, button.cancel:hover:focus{
  box-shadow: inset 0px 0px 25px 0px rgba(255, 130, 130,.4);
}
button.cancel:active,button.cancel:active:focus{
  background-color: rgba(255, 130, 130,.08);
}

button{
  outline: none;
  background:none;
  border:none;
  transition: box-shadow .1s, background-color .1s;
  font-family: "Droid Serif", Serif;
  font-style: italic;
}

button span.symbol{
  font-style: normal;
}

table button:focus{
    box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0,.4);
}

.tooltip, .tooltip-left{
  position: relative;
}

.tooltip:hover::after,
.tooltip.tooltip-active::after,
.tooltip-left:hover::after,
.tooltip-left.tooltip-active::after{
    background: #333;
    background: rgba(0,0,0,.8);
    // border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltip:hover::before,
.tooltip.tooltip-active::before,
.tooltip-left:hover::before,
.tooltip-left.tooltip-active::before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    position: absolute;
    z-index: 99;
}

.tooltip:hover::after,
.tooltip.tooltip-active::after{
    left: 20%;

}

.tooltip:hover::before,
.tooltip.tooltip-active::before{
    left: 50%;
}

.tooltip-left:hover::after,
.tooltip-left.tooltip-active::after{
    right: 20%;

}

.tooltip-left:hover::before,
.tooltip-left.tooltip-active::before{
    right: 50%;
}