table.info-table{
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
  border:solid 2px #ddd;
  border-radius: 10px;
  border-spacing: 0;
  td{
    padding: 5px;
    border-bottom: solid 2px #ddd;
  }

  tbody td{
    border-right: solid 1px #eee;
  } 

  tbody tr:last-child td{
    border-bottom: solid 0px;
  }

  tbody tr td:first-child{
    text-align: right;
  }

  tbody tr td:last-child{
    border-right: solid 0px;
    text-align: left;
  }

  thead td{
    text-align: center;
  }

  tfoot td {
    border-bottom: none;
    padding: 0;
    border-top: solid 2px #ddd;
    $footer-el-height: 30px;
    div {
      line-height: $footer-el-height;
      text-align: center;
    }
    button, div {
      // padding: 5px;
      height: $footer-el-height;
      width:100%;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      font-style: italic;
      font-family: 'Droid Serif', Serif;
    }
    button span.symbol{
      font-size: 16px;
      display:inline-block;
      vertical-align: middle;
      line-height: 0;
      position: relative;
      transition: color .2s;
      width:1.5em;
    }
    button.cancel span.symbol::before{
      font-size: 20px;
      content:'×';
      color: rgba(0,0,0,0);
      width: 0;
      display:inline-block;
      vertical-align: middle;
      transition: color .2s;
      line-height: 0;
    }
    button.cancel:hover span.symbol{
      color: rgba(0,0,0,0);
    }
    button.cancel:hover span::before{
      color: black;
    }
  }

}