$listing-row-height: 80px;
$dark-border-color: #ccc;
$light-border-color: #eee;
$row-highlight-color: #fffcf5;


#book-details{
  h2, h3{
    font-family: 'Droid Sans', Sans-serif;
  }
  h2{
    font-weight: 700;
    margin:0;
    // using adobe polyfill
    // text-wrap: balanced;
  }
  h3{
    font-weight: 400;
    margin-top: 10px;
    border-bottom: solid black 2px;
    padding-bottom: 10px;
  }

  .preview{
    float:right;
    padding: 0 0 20px 20px;
    img{
      box-shadow: 0 1px 3px 1px rgba(0,0,0,.2);
      width:200px;
      position: relative;
      left: -2px;
      top: 1px;
    }
  }


  .info{
    // max-height: 350px;
    position: relative;
    overflow: hidden;

    p{
      line-height: 157%;
      margin: 0
    }

    p:not(:first-of-type)   {
      text-indent: 2em;
    }

    p:first-of-type:first-letter{
      font-size: 50px;
      display: inline-block;
      float: left;
      line-height: 100%;
      margin-top: 0px;
      margin-right: 10px;
    }

    p:last-of-type{
      padding-bottom: 20px;
    }

    .expand{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;
      text-align: center;
      line-height: 50px;
      font-size: 14px;
      color: gray;
      background: linear-gradient(
        to top,
        rgba(255,255,255,1) 0%,
        rgba(255,255,255,1) 66%,
        rgba(255,255,255,0) 100%);
    }

    .expand:hover{
      color: black;
    }

    .expand.expanded{
      background:none;
    }

    .info-table{
      margin-bottom: 20px;
      width:310px;
      float: left;
    }
  }


  h5{
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-variant: small-caps;
  }
}

div.listings{
  .tabs{
    display: flex;
    button{
      // flex-basis: 100%;
      flex-grow: 1;
      background: none;
      font-family: 'Droid Serif', Serif;
      font-size: 20px;
      padding: 10px;
      border: none;
      outline: none;

      // font-style: italic;
      // font-variant: inherit;
      font-variant: small-caps;
      transition: color .2s, font-size .2s;
      color: gray;
      height: 75px;
      font-size: 18px;
    }
    button.active{
      border-bottom: solid black 2px;
      font-style: inherit;
      font-size: 22px;
      color: black;
    }
    button:hover{
      // background-color: #eee;
      color: black;
    }
  }
  table.listings{
    width:100%;
    table-layout: fixed;
    border-spacing: 0;
    border: solid 1px $dark-border-color;
    border-top: 2px solid black;
    overflow: hidden;
    thead{
      tr{
        background-color: $row-highlight-color;
        height: 4em;
        th{
          font-weight: 400;
          font-style: italic;
          height: 40px;
          border-bottom: 2px solid $dark-border-color;
          border-right: 1px solid $light-border-color;
          position: relative;
          }
        th.seller{
          width: 6em;
        }
        th.price{
          width: 7.5em;
        }
        th.contact{
          width:$listing-row-height;
        }
        th.sortable{
          padding: 0 20px;
          cursor: pointer;
        }
        th.sortable:hover{
          text-decoration: underline;
        }
        th.active::before{
          content: '';
          background-color: rgba(252, 255, 100, 0.07);
          width: 100%;
          height: 2000px;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
        }
        th.active::after{
          // content: '▲';
          content: '▴';
          position: absolute;
          width: 1.5em;
          color:gray;
          font-style: normal;
        }
        th.active.reversed::after{
          // content: '▼';
          content: '▾';
        }
        th:last-child{
          border-right: none;
        }
      }
    }
    tbody:last-child tr:last-child td{
      border-bottom: none;
    }
    tbody,tfoot{
      font-family: 'Droid Sans', sans-serif;
      font-size: 14px;
      tr{
        td{
          text-align: center;
          border-bottom: solid 2px $dark-border-color;
          border-right:solid 1px $light-border-color;
          img{
            width:40px;
            vertical-align: middle;
            margin:5px;
          }
        }
        td:last-child{
          border-right: none;
        }
        td.image{
          text-align: right;
          border-right: none;
          padding-right: 5px;
        }
        td.username{
          text-align:left;
          padding-left: 5px;
          word-break: break-all;
          /* Non standard for webkit */
          word-break: break-word;
          -webkit-hyphens: auto;
             -moz-hyphens: auto;
              -ms-hyphens: auto;
                  hyphens: auto;
        }
      }

      tbody:last-child td {
        border-bottom: 1px $dark-border-color;
      }

      td.quality a.tooltip{
        border-bottom: black 1px dashed;
      }

      td.make-an-offer button.email,
      td.confirm button.confirm{
        width: 100%;
        padding: 0;
        height: $listing-row-height;
        .symbol{
          font-size: 16px;
        }
      }
        
      td.make-an-offer{
        padding: 0;
        button.email span.symbol{
          font-style: normal;
          font-size: 36px;
        }
        button.edit, button.delete{
          display: inline-block;
          width: 50%;
          height: $listing-row-height;
          padding: 0;
          font-size: 16px;
        }
        div.remove-listing{
          p{
            width: 100%;
            margin: 5px;
          }
          button{
            height:28px;
          }
          button.cancel{
            width:100%;
          }
          button.confirm, button.no{
            width:50%;
            display: inline-block;
          }
        }
      }


    }
    tbody{
      td{
        height: $listing-row-height;
        padding:0;
      }
      table.price-table{
        width: 100%;
        height:79px;
        border-collapse: collapse;
        table-layout: fixed;
        td:first-child{
          font-family: 'Droid Serif', Serif;
          font-style: italic;
          width: 3.5em;
        }
        td{
          height: auto;
          border-bottom: none;
        }
        tr:first-child{
          border-bottom: 1px solid $light-border-color;
        }
      }
    }
    tfoot{
      background-color: white;
      tr.make-listing{
        background-color: $row-highlight-color;
        p{
          text-align: center;
        }
        span.label{
          width: 4.5em;
          display: inline-block;
        }
        input.price{
          width:2em;
        }

        td.condition small.description {
          display: block;
          margin-top: 10px;
          font-family: 'Droid Serif', Serif;
          font-style:italic;
        }
      }
      tr.make-listing.inactive{
        display:none;
      }
      tr.add-listing{
        td{
          text-align: center;
          border-bottom: none;
          padding: 0;

          $footer-el-height: 2.5em;
          div{
            line-height: $footer-el-height;
          }
          button, div{
            font-style: italic;
            font-family: 'Droid Serif', Serif;
            width: 100%;
            height: $footer-el-height;
            span.symbol{
              font-size: 16px;
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}


// user view stuff

div.user-about{
  div#user-image img{
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.2);
    display: block;
    padding: 10px;
    width: 100px;
  }
  h2, h3, p.stats{
    font-family: 'Droid Sans', serif; 
  }
  p.stats{
    font-size: 14px;
  }
  h2{
    margin-top: 0;
  }
  div.about{
    flex-grow: 1;
    padding-left: 20px;
  }
  overflow: visible;
  display: flex;
  margin-bottom: 20px;
}

table.watchlist{
  width: calc(50% - 10px);
  float:left;

  thead{
    font-family: 'Droid Serif', Serif;
    font-size: 20px;
    td{
      text-align: center;
      border-bottom: solid 2px #ddd;
      padding: 10px;
    }
  }

  td.cover-image img{
    width: 40px;
    max-height: 65px;
  }

  tbody td button.cancel{
    width: 100%;
    font-size: 14px;
    padding: 10px;
    height: 70px;
  }

  tbody td:last-child{
    padding: 0;
  }

  tbody{
    display: block;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
  }

}

table.email-settings{
  width: calc(50% - 10px);
  float:right;
}

.private{
  overflow:auto;
  border-bottom: solid 1px $light-border-color;
  border-top: solid 1px $light-border-color;
  padding: 20px 0;
  margin: 20px 0;
}