header{
  transition: height .2s;
  $init-top-margin: 25px;
  padding-bottom: $pane-spacing;
  overflow: hidden;

  #sub-box, #blurb{
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,.2);
  }

  #sub-box{

    background-color:rgba(255,255,255,.7);
    position:absolute;
    padding:14px 6px;
    top: $init-top-margin;
    left: calc(50vw + 260px);

    a {
      color: black;
      text-decoration: none;
      margin: 10px;
      position: relative;
      font-size: 12px;
      z-index:1;
    }

    a::before {
      content: '';
      position: absolute;
      width: 100%;
      height:100%;
      bottom:-2px;
      left:0;
      border-bottom: solid rgba(41, 255, 53,.25) 3px;
      z-index: -1;
      transition: border .2s, padding .2s, left .2s;
    }

    a:hover::before{
      border-bottom: solid rgba(41, 255, 53,.25) 20px;
      padding:6px;
      left:-6px;
    }
  }


  #main-box{
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.2);
    width: 500px;
    margin: $init-top-margin auto 0 auto;
    background-color: white;

    #wordmark-link{
      text-decoration: none;
      color:black;
      outline:0;

      #wordmark{
        padding-top:20px;
        padding-bottom:10px;
        text-align: center;
        margin:0;

        .college-name{
          font-size: 80px;
          font-variant: small-caps;
          display:block;
        }

        .app-name{
          font-weight: 400;
          font-size: 35px;
          position: relative;
          font-variant: small-caps;
          display:block;
        }

        .interject{
          font-size:28px;
        }

        // the line between college name and HTB
        .app-name::before{
          content: '';
          width:35%;
          margin: 0 32.5%;
          left:0;
          height: 1px;
          top:-5px;
          background-color: black;
          border-radius: 10px;

          position: absolute;
          transition: width .2s,
                      height .2s,
                      margin .2s,
                      top .2s;
        }

        .app-name::after{
          content: '';
          width: 25px;
          background-image: url(/images/logo_small.png);
          height: 17px;
          display: block;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          left: calc(50% - 14.5px);
          top: -12px;
          border-left: solid white 2px;
          border-right: solid white 2px;
          transition: border-width .2s,
                      left .2s;
        }
      }

      #wordmark:hover{
        .app-name::before{
          width:50%;
          height:3px;
          top: -6px;
          margin: 0 25%;
        }
        .app-name::after{
          left: calc(50% - 16.5px);
          border-left: solid white 4px;
          border-right: solid white 4px;
        }
      }
    }

    #college-info{
      list-style-type: none;
      display:flex;
      margin: 0;
      padding: 0;

      li{
        font-size: 12px;
        color:gray;
        // font-style: italic;
        flex-grow: 1;
        padding: 10px 0;
        text-align: center;
      }
    }
  }
  
  @media (max-width: 1000px) {
    #sub-box{
      right: calc(50vw - 259px);
      left: initial;
    }
    #main-box{
      margin-top:85px;
    }
  }
  
  #blurb{
    width: 480px;
    height: 65px;
    margin: $pane-spacing auto 0 auto;
    padding:15px;
    box-sizing: border-box;
    font-size: 14.5px;
    color: #555;
    background-color:rgba(255,255,255,.7);
    overflow: hidden;
    opacity: 1;
    position: relative;
    line-height: 130%;
    transition: width .2s,
                height .2s,
                padding .2s,
                opacity .2s,
                margin .2s;

    a.toAbout {
      color: #888;
      margin-left: 5px;
    }

    a.toAbout:hover{
      color:#555;
    }

    a.close{
      position: absolute;
      line-height: 110%;
      top: 0;
      right: 0;
      font-size: 22px;
      color: #AEAEAE;
      text-align: center;
      width: 20px;
      height: 20px;
      font-family: "Times New Roman", Serif;
    }

    a.close:hover{
      cursor: pointer;
      color: gray
    }
  }

  #blurb.hidden{
    width: 0px;
    height: 0px;
    padding: 0px;
    margin-bottom: -$pane-spacing/2;
    margin-top: $pane-spacing/2;
    opacity: 0;
  }
}

header.minimized{
  margin-bottom: 0;
  height: 100px;
  overflow: hidden;
}

@media (max-width: 1000px) {
  header.minimized{
    height: 160px;
  }
}




// header.minimized div#main-box:hover .app-name::before{
//   width:15%;
//   margin: 0 42.5%;
//   top:-3px;
// }

// header.minimized .interject{
//   font-size:16px;
// }

// header.minimized div#main-box .app-name::before{
//   width:12%;
//   margin: 0 44%;
//   top:-3px;
// }

// header.minimized div#main-box .app-name{
//   font-weight: 400;
//   font-size: 20px;
//   position: relative;
// }
// header.minimized div#main-box .college-name{
//   font-size: 40px;
// }

// header.minimized div#main-box #wordmark{
//   padding-top:0px;
// }

// header.minimized{
//   margin: 0 0;
// }

// header.minimized div#main-box{
// }

// header.minimized div#main-box #wordmark{
//   margin-bottom: 0;
// }

// header.minimized div#main-box #college-info{
//   margin:-1em;
//   opacity: 0;
//   overflow: hidden;
// }
