.modal-wrapper{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0,0,0,.4);
  display: none;
}

.modal-wrapper.visible{
  display: block;
  z-index: 50;

  .modal{
    background-color: white;
    box-sizing: border-box;
    width: 500px;
    margin: 100px calc(50vw - 250px);
    padding: 10px;
    overflow: auto;

    h2{
      border-bottom: solid black 2px;
      padding-bottom: 10px;
    }
    
    textarea {
      width: 100%;
      height: 150px;
      resize: vertical;
      border-bottom-right-radius:0;
      font-family: Monospace;
      border: solid 1px #cecece;
    }
  }

}

.modal .bottom-buttons{
  display: flex;
  justify-content: flex-end;

  button{
    border: 1px solid #cecece;
    border-top: none;
    border-right: none;
    padding: 10px;
  }
  button:last-child{
    border-right: solid 1px #cecece;
  }
}

#account-wrapper{
  table{
    width: 100%;
  }

  input, select{
    border-bottom: none;
    width: 100%;
  }

  .alert td {
    padding: 10px;
    text-align: center;
  }

}