.modal-wrapper{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0,0,0,.4);
  display: none;
}

.modal-wrapper.visible{
  display: block;
  z-index: 50;

  .modal{
    background-color: white;
    box-sizing: border-box;
    width: 500px;
    margin: 100px calc(50vw - 250px);
    padding: 10px;
    overflow: auto;

    h2{
      border-bottom: solid black 2px;
      padding-bottom: 10px;
    }
  }

  .modal.offer{
    textarea {
      width: 100%;
      height: 150px;
      resize: vertical;
      font-family: Monospace;
    }
  }
}

#account-wrapper{
  .login{
    width: 50%;
    float: left;
    padding-right: 10px;
    box-sizing: border-box;
  }
  .register{
    padding-left: 10px;
    width: 50%;
    float: right;
    box-sizing: border-box;
  }

  table{
    width: 100%;
  }

  input, select{
    border-bottom: none;
    width: 100%;
  }
}