header(ng-controller="headerController")
  div#main-box
    a#wordmark-link(ng-click="headerClick()")
      //-  ui-sref-opts="{reload: true}" to forget prev search
      h1#wordmark
        span.college-name Carleton
        span.app-name
          | Hits
          span.interject  the
          | Books
    //- ul#college-info
    //-   li #{numOpenListings} books listed
    //-   li #{numCompletedListings} successful listings
    //-   li #{numUsers} active users
  div#blurb(ng-class="{'hidden': !modalStates.blurb||currentUser}")
    | Welcome to the streamlined platform for buying, selling, and trading textbooks face-to-face.
    | By Carls for Carls.
    a(href="" class="toAbout", ng-click="modalStates.about = true") Learn more...
    a(class="close", ng-click="modalStates.blurb = false") ×
  div#sub-box
    a(ng-click="modalStates.about = true") About
    a(ng-click="openAccount()" ng-if="currentUser") {{ currentUser.name.givenName }}
    a(ng-click="openAccountSignin()" ng-if="!currentUser") Sign In
    a(ng-click="openAccountRegister()" ng-if="!currentUser") Register
    a(ng-click="logout()" ng-if="currentUser") Log Out

  include modals
