doctype html
html(ng-app="hitsTheBooks")
  head
    title Carleton Hits the Books
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    //- script(src="https://rawgit.com/Box9/jss/master/jss.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/balance-text/1.6.0/jquery.balancetext.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js")
    script(src="https://rawgit.com/christopherthielen/ui-router-extras/master/release/ct-ui-router-extras.js")
    script(src="/static/scripts/client.js")
    link(rel="shortcut icon" type="image/x-icon" href="/images/favicon.png")
    link(rel="stylesheet" type="text/css" href="/styles/index.css")
    base(href="/")
  body(ng-controller="applicationController")
    include header
    main(ui-view='main')
