doctype html
html(ng-app="hitsTheBooks")
  head
    title Carleton Hits the Books
    script(src="/static/scripts/client.js")
    link(rel="shortcut icon" type="image/x-icon" href="/images/favicon.png")
    link(rel="stylesheet" type="text/css" href="/styles/index.css")
    base(href="/")
  body
    include header
    main(ui-view)
