doctype html
html(ng-app="hitsTheBooks")
  head
    title [DEV] Carleton Hits the Books
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="/styles/index.css")
    script(src="https://use.fontawesome.com/f91a067268.js")
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    //- script(src="https://rawgit.com/Box9/jss/master/jss.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/balance-text/1.6.0/jquery.balancetext.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js")
    script(src="https://cdn.rawgit.com/christopherthielen/ui-router-extras/master/release/ct-ui-router-extras.min.js")
    script(src="https://code.angularjs.org/1.5.8/angular-animate.js")

    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-img-crop/0.3.2/ng-img-crop.css")

    //- script(src="https://cdn.rawgit.com/CrackerakiUA/ngImgCropFullExtended/master/compile/unminified/ng-img-crop.js")
    //- link(rel="stylesheet", type="text/css", href="https://cdn.rawgit.com/CrackerakiUA/ngImgCropFullExtended/master/compile/unminified/ng-img-crop.css")

    script(src="/static/scripts/client.js")

    link(rel="shortcut icon" type="image/x-icon" href="/images/favicon.png")

    base(href="/")
  body(ng-controller="applicationController" ng-class="mainState ? 'main-page' : '' ")
    include header
    main(ui-view='main')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload-all.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ng-img-crop/0.3.2/ng-img-crop.js")
