doctype html
html(lang="en")
head
	title Textbook exchange
	link(rel='stylesheet', href='/styles/main.css')
body
	h1 Textbook Exchange

	if(alerts)
		div(class='flash-alerts') #{alerts}

	if(errors)
		div(class='flash-errors') #{errors}

	block page