extends page

block page
	h3 Users

	table
		tbody
			each user in Users
				tr
					td: img(src="#{user.avatar}")
					td #{user.email}
					td #{user.name.fullName}

	form(action='logout' method='get')
		button(type='submit') Logout